.incoming_msg .footer_msg,
.outgoing_msg .footer_msg {
  display: block;
  text-align: right;
}

.outgoing_msg .fa-cog {
  display: none;
}

.outgoing_msg:hover .fa-cog {
  display: inline-block;
}

.outgoing_msg .fa-trash,
.outgoing_msg .fa-cog {
  margin-right: 5px;
  cursor: pointer;
}

.incoming_msg .fa,
.outgoing_msg .fa {
  font-size: 18px;
  margin-left: 5px;
  color: #fff;
}

.incoming_msg .fa {
  cursor: pointer;
  color: cornflowerblue;
}