.inbox_people {
  width: 100%;
}

.chat_list {
  display: flex;
  justify-content: space-between;
}

.chat_img {
  width: 40%;
}

.chat_ib {
  padding: 0;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings button,
.new-user {
  display: block;
  padding-right: 10px;
  height: 30px;
  background-color: #05728f;
  border: none;
  color: #fff;
}

.recent_heading {
  width: 50%;
}

.recent_heading button{
  float: right;
}