.login-form.card {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-form.card-body {
  width: 400px;
  height: 500px;
  flex-grow: 0;
}

.login-form .text-danger {
  height: 20px;
}