h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 15px 0;
}

.header a:hover {
  text-decoration: none;
}

.header .data-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header .data-nav a {
  background-color: #eee;
  padding: 0 5px;
  color: #000;
  margin-left: 20px;
}

.inner-container {
  display: flex;
  justify-content: space-between;
}

.inner-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-container .data {
  flex-direction: column;
  align-items: baseline;
  min-width: 250px;
}

.logo {
  background: url(../../logo.svg) no-repeat, center;
  background-size: cover;
  height: 100px;
  width: 140px;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
