.container.edit-user {
  display: flex;
  flex-direction: column;
}

.container.edit-user label {
  margin-top: 20px;
}

.btns-block {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}